# node_modules
frontend/node_modules
backend/node_modules

# other
frontend/.bun
frontend/dist
backend/.bun
backend/dist

.opencode/**
.agents/**

# env files
.env
.env.local
backend/.env
frontend/.env
backend/.env.*
frontend/.env.*
!backend/.env.example
!frontend/.env.example


